body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
  text-transform: uppercase;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.title {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.text {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.header {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.navigation {
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #ffffff;
  font-weight: bold;
  display: flex;
}

.navigation li {
  margin: 0;
  padding: 0;
  height: 56px;
  width: 25%;
  list-style: none;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.navigation-info a {
  text-align: right;
  margin-left: 72px;
}

.navigation-media a {
  text-align: left;
  margin-left: 13px;
}

.navigation-map {
  text-align: right;
  justify-content: flex-end;
}

.navigation-hotels {
  text-align: right;
  justify-content: flex-end;
}

.navigation-map a {
  margin-right: 18px;
}

.navigation-hotels a {
  margin-right: 72px;
}

.navigation-item {
  color: #000000;
}

.navigation a:hover,
.navigation a:focus {
  color: #81b3d2;
}

.navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation .nav-active {
  color: #766357;
}

.header-logo {
  width: 138px;
  height: 70px;
  color: transparent;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.intro img {
  margin-top: 76px;
  margin-bottom: 80px;
}

.intro {
  display: flex;
  position: relative;
  height: 508px;
  background: #3d4c57 url("../img/welcome-background.jpg") no-repeat 50% 28.5%;
  background-size: cover;
  position: relative;
  justify-content: center;
}

.intro::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  height: 57px;
  background: transparent url("../img/welcome-shape.png") no-repeat 0 50%;
  background-size: 100% 57px;
}

.about-sedona {
  background-color: #ffffff;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.about-sedona h2 {
  padding: 0px 290px;
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  margin-top: 60px;
  margin-bottom: 27px;
}

.about-sedona p {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 51px;
}

.reason-promo {
  margin: 0;
  padding: 0;
  background-image: url("../img/reason-promo-background.jpg");
  background-repeat: no-repeat;
  background-position: right;
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  background-color: #81b3d2;
}

.reason {
  min-height: 256px;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 33.3%;
  background-color: #81b3d2;
}

.reason h2 {
  padding: 0;
  margin: 0;
  padding-top: 47px;
  padding-bottom: 24px;
}

.reason p {
  padding: 0 60px;
  margin: 0;
  padding-bottom: 21px;
}

.reason-promo-reverse h2 {
  padding-top: 46px;
  padding-bottom: 25px;
}

.reason-promo-reverse p {
  padding: 0 40px;
  margin: 0;
  padding-bottom: 20px;
}

.reason-first p {
  padding: 0px 59px;
  padding-bottom: 21px;
}

.reason-last p {
  padding: 0px 75px;
  padding-bottom: 22px;
}

.advantages {
  padding: 0;
  margin: 0;
  display: flex;
  text-align: center;
  background-color: #ffffff;
  list-style: none;
  justify-content: space-around;
  padding-bottom: 82px;
}

.advantages h2 {
  padding: 0;
  margin: 0;
}

.advantages p {
  padding: 0 50px;
  margin: 0;
  padding-top: 24px;
}

.advantages-item {
  margin-top: 161px;
  position: relative;
  width: 33.3%;
}

.advantages-item-hotel::before {
  content: "";
  background-image: url("../img/advantages-hotel.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 75px;
  height: 72px;
  top: -100px;
  right: 162px;
}

.advantages-item-food::before {
  content: "";
  background-image: url("../img/advantages-food.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 74px;
  height: 70px;
  top: -100px;
  right: 163px;
}

.advantages-item-souvenirs::before {
  content: "";
  background-image: url("../img/advantages-souvenirs.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 64px;
  height: 76px;
  top: -105px;
  right: 167px;
}

.reason-promo-reverse {
  background-image: url("../img/reason-promo-reverse-background.jpg");
  background-position: left;
  justify-content: flex-end;
  background-color: #81b3d2;
}

.reason-block {
  list-style: none;
  background-color: #f2f2f2;
  padding: 0;
  margin: 0;
  display: flex; 
  text-align: center;
  justify-content: space-around;
  align-items: center;
  height: 256px;
}

.reason-block .reason {
  background-color: #f2f2f2;
}

.interested {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  height: 291px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.interested h2 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 30px;
  position: relative;
}

.interested p {
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 32px;
  padding-bottom: 47px;
  font-size: 14px;
  line-height: 24px;
}

.button-search-hotel {
  margin: 0;
  padding: 0;
  width: 568px;
  height: 86px;
  position: relative;
}

.interested label {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.form-wrapper {
  position: relative;
}

.search-hotels {
  position: absolute;
  display: block;
  width: 458px;
  color: #000000;
  background-color: #ffffff;
  top: 100%;
  padding: 55px;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  z-index: 1;
}

.button-search {
  width: 458px;
  height: 58px;
  margin-top: 54px;
}

.modal {
  display: none;
  animation: hide .25s forwards;
}

@keyframes show {
  0% {
    -ms-transform: scaleY(0) translateY(-100%);
    transform: scaleY(0) translateY(-100%);
  }
  50% {
    -ms-transform: scaleY(1) translateY(20%);
    transform: scaleY(1) translateY(20%);
  }
  70% {
    -ms-transform: scaleY(.8) translateY(0%);
    transform: scaleY(.8) translateY(0%);
  }
  90% {
    -ms-transform: scaleY(1) translateY(10%);
    transform: scaleY(1) translateY(10%);
  }
  100% {
    -ms-transform: scaleY(1) translateY(0);
    transform: scaleY(1) translateY(0);
  }
}

.modal-show {
  display: block;
  animation: show .55s forwards;
}

.form-item {
  display: flex;
}

.form-label {
  display: flex;
  height: 38px;
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
 }

.form-input {
  flex-shrink: 0;
  width: 344px;
  height: 38px;
  box-sizing: border-box;
  padding:  8px;
  border: 2px solid #f2f2f2;
  outline: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background: #f2f2f2;
  font-weight: bold;
  position: relative;
  max-width: 100%;
  margin-left: 18px;
}

.form-number-item {
  border-right: 0;
  border-left: 0;
}

.form-input-date {
  padding-right: 35px;
}

.form-date-item {
  margin-bottom: 30px;
  position: relative;
}

.icon-calendar-in {
  position: absolute;
  text-decoration: none;
  color: #cacaca;
  height: 25px;
  width: 25px;
  top: 9px;
  right: 5px;
}

.icon-calendar-out {
  position: absolute;
  text-decoration: none;
  color: #cacaca;
  height: 25px;
  width: 25px;
  top: 7px;
  right: 5px;
}

.form-input-date:hover + .icon-calendar-in,
.form-input-date:hover + .icon-calendar-out {
  color: #000000;
}

.form-input-date:active + .icon-calendar-in,
.form-input-date:active + .icon-calendar-out {
  color: #81b3d2;
}

.icon-calendar-in:hover,
.icon-calendar-out:hover {
  color: #000000;
}

.form-number-item {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.counter-adult {
  display: flex;
  margin-left: 42px;
}

.counter-child {
  display: flex;
  margin-left: 26px;
}

.counter-number {
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.button-minus {
  width: 38px;
  height: 38px;
  border: none;
  background-color: #f2f2f2;
  position: relative;
}

.button-plus {
  width: 38px;
  height: 38px;
  border: none;
  background-color: #f2f2f2;
  position: relative;
}

.button-minus::after {
  content: "";
  width: 11px;
  height: 3px;
  background-color: #a9a9a9;
  position: absolute;
  right: 15px;
  top: 18px;
}

.button-plus::after {
  content: "";
  width: 11px;
  height: 3px;
  background-color: #a9a9a9;
  position: absolute;
  right: 15px;
  top: 18px;
}

.button-plus::before {
  content: "";
  width: 3px;
  height: 11px;
  background-color: #a9a9a9;
  position: absolute;
  right: 19px;
  top: 14px;
}

.button-minus:hover:after,
.button-plus:hover:after,
.button-plus:hover:before {
  background-color: #000000;
}

.button-minus:active:after,
.button-plus:active:after,
.button-plus:active:before {
  background-color: #81b3d2;
}

.search-hotels ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.button:hover,
.button:focus {
  background-color: #604e43;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.button-search,
.button-detail {
  background-color: #81b3d2;
}

.button-search:hover,
.button-detail:hover,
.button-search:focus,
.button-detail:focus {
  background-color: #669ec0;
}

.button-search:active,
.button-detail:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.search-hotels input:hover {
  background-color: #ebebeb;
}

.search-hotels input:focus {
  background-color: #ffffff;
  border: solid 2px #e5e5e5;
}

.container {
  padding-left: 72px;
  padding-right: 74px;
}

.filter {
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-size: cover;
  padding-top: 27px;
  padding-bottom:  19px;
  background: #46525c url("../img/filter-background.jpg") no-repeat 0 50%;
}

.filter-form {
  display: flex;
}

.fieldset-hotels {
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.infrastructure-field {
  margin: 0;
  padding: 0;
}

.hotel-type-field {
  margin: 0;
  padding: 0;
  margin-left: 118px;
}

.filter-range {
  margin:0;
  padding: 0;
}

.infrastructure {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  padding-left: 10px;
  padding-top: 12px;
}

.hotel-type {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin-left: 15px;
  padding-top: 12px;
}

.price-option {
  list-style: none;
}

.price-option-range {
  list-style: none;
  color: #ffffff;
}

.price-option-range input {
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
}

.legend-filter-range {
  padding-bottom: 10px;
}

.infrastructure-option {
  margin: 0;
  padding: 0;
  position: relative;
  padding-top: 10px;
  padding-bottom: 9px;
  padding-left: 3px;
}

.checkbox-custom {
  position: relative;
  width: 27px;
  height: 27px;
  display: inline-block;
  vertical-align: middle;
  right: 14px;
}

span.checkbox-custom::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../img/svg-sedona/checkbox-off.svg") no-repeat center;
  top: 0px;
  left: -2px;
  display: block;
}

.filter-input:checked + .checkbox-custom::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url("../img/svg-sedona/checkbox-on.svg");
  background-repeat: no-repeat;
}

.hotel-type-option {
  margin:0;
  padding-top: 10px;
  padding-bottom: 9px;
  position: relative;
}

hotel-type-option::before {
  content: "";
  background-image: url("../img/svg-sedona/checkbox-off.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 64px;
  height: 76px;
  top: 10px;
  right: 70px;
}

/* Сложный фильтр */

.filter-range {
  width: 314px;
  margin: 0;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: auto;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 33px;
  width: 100%;
  margin-bottom: 18px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0px;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  line-height: 1px;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0px auto;
  padding: 6px 33px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 94px;
  margin-top: 34px;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

/* Конец ложног офильтра */
 
.filter-sorting {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  padding-top: 13px;
  padding-bottom: 13px;
}

.results-amount {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.24;
  flex-shrink: 0;
}

.results-sorting h3 {
  font-weight: normal;
  font-size: 12px;
}

.results-sorting {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  padding-left: 48px;
  width: 100%;
  align-items: center;
  padding-top: 5px;
}

.sorting-type {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-left: 40px;
}

.sorting-type li {
  display: inline;
  padding-right: 30px;
  vertical-align: middle;
}

.arrows li {
  display: inline-block;
  margin-left: 8px;
  padding: 0;
  vertical-align: middle;
}

.sorting-type a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed #81b3d2;
}

.sorting-type a:hover,
.sorting-type a:focus {
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;
}

.sorting-type a:active {
  color: #000000;
  border-bottom: 0px dashed #81b3d2;
}

.sort-activ a {
  color: #81b3d2;
  border-bottom: 0px;
}

.arrows {
  list-style: none;
  padding: 0;
  margin-left: auto;
}

.arrows a {
  text-decoration: none;
  color: #cacaca;
  transition: color 0.5s ease;
}

.arrows a:hover,
.arrows a:focus {
  color: #000000;
}

.arrows a:active {
  color: #81b3d2;
}

.arrow-down a {
  color: #81b3d2;
}

.result-hotels {
  margin: 0;
  padding: 0;
}

.hotel-photo {
  margin: 30px 0px;
  padding-right: 30px;
}

.result-hotels-item {
  list-style: none;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  height: 150px;
  background-color: #ffffff;
}
 
.result-hotels ul {
  margin: 0px;
  padding: 0px;
  display: block;
}

.result-hotels-discription {
  margin: 26px 0px;
  padding: 0;
}

.result-hotels-discription p {
  margin-top: 9px;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 22px;
  display: inline-block;
  min-width: 112px;
  vertical-align: middle;
}

.result-hotels-item h2 {
  margin: 0;
  padding: 0;
}

.result-hotels-discription button {
  font-size: 14px;
  margin-right: 3px;
}

.button-detail {
  padding: 0 17px;
}

.button-booking {
  padding: 0 16px;
}

.rating {
  margin: 25px 0px;
  margin-left: auto;
}

.stars li {
  display: inline-block;
  list-style: none;
  margin-left: 1px;
  vertical-align: middle;
}

.stars {
  text-align: right;
}

.raiting-number {
  background-color: #f2f2f2;
  height: 27px;
  padding: 0px 12px;
  text-align: center;
  margin-top: 39px;
  margin-left: auto;
}

.result-hotels-item a {
  color: #000000;
}

.result-hotels-item a:hover,
.result-hotels-item a:focus {
  color: #81b3d2;
}

.result-hotels-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.map {
  height: 593px;
  background: #e2e7d0 url("../img/sedona-map.jpg") no-repeat 50% 100%;
  background-size: cover;
}

.map iframe {
  height: 593px;
  width: 100%;
  border: none;
}

.footer {
  padding: 35px 0px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: space-between;
  align-items:center;
  box-sizing: border-box;
  margin-top: -120px;
  position: relative;
}

.footer-hotels {
  margin-top: 0px;
}

.hashtag {
  margin: 0;
  padding: 0;
  color: #000000;
  text-align: center;
  width: 33.3%;
}

.social-buttons {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 33.3%;
  justify-content: center;
}

.social-button {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  color: #ffffff;
}

.social-buttons li {
  margin-right: 6px;
}

.social-buttons li:last-child {
  margin-right: 0px;
}

.social-buttons a:hover,
.social-buttonsa a:focus {
  background-color: #669ec0;
}

.social-buttons a:active {
  background-color: #5496bd;
  color:rgba(255, 255, 255, 0.3);
}

.footer-logo {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.3%;
}

.footer-logo p {
  margin: 0;
  padding: 0;
  margin-right: 8px;
  color: #000000;
}

.footer-academy-logo {
  text-decoration: none;
  color: #000000;
  transition: color 0.5s ease;
}

.footer-academy-logo:hover,
.hashtag:hover {
  color: #81b3d2;
}

.footer-academy-logo:active,
.hashtag:active {
  color:  #bdbbbc;
}